*{
    padding: 0px;
    margin: 0px;
}

/* Navbar */

#navbar{
    display: flex;
    flex-direction: row;
    height: 80px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding-top: 27px;
    padding-left: 430px;
}
#navbar ul li{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}
#navbar ul li a{
    text-decoration: none;
    color: black;
}
#navbar ul li a:hover{
        /* Increase this as per requirement */
        padding-bottom: 8px;
        border-bottom-style: solid;
        border-bottom-width: 2.5px;
        border-color: rgb(255, 219, 88);
        width: fit-content;

        transform: scale(0,1);
    /* -ms-transform-origin: left center; */
    transform-origin: left center; 
    -webkit-transform-origin: left center;
    transition: all .22s ease-out;
}
 .navbar-brand img{
      height: 45px;
      width: 45px;
      padding-left: 70px;
      padding-top: 17px;
      padding-bottom:10px
 }
 #navbar::before{   
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height:100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
 }

 /* home page */
 .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }
 .container .bg-1::before{
    content: "";
    position: absolute;
    background: url(../image/bg1.webp) no-repeat;
    top: 0px;
    left: 0px;
    height:100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
 }
  